@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap');

:root {
  --main-color: #ffc7c7;
  --sub-color:#ffe2e2;
  --bg-color:#f6f6f6;
  --accent-color:#8785a2;
}

body{
  background-color: var(--bg-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
h3{
  text-align: center;
}

.submitbutton{
  background-color: var(--main-color);
}
